In [4]:
import pandas as pd 
import sqlite3

con = sqlite3.connect("FINALDB.db")
cur = con.cursor()

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
'''
%%!
pip install --trusted-host pypi.org ipython-sql
'''

'\n%%!\npip install --trusted-host pypi.org ipython-sql\n'

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%sql sqlite:///FINALDB.db

In [9]:
pwd

'/Users/macbook/Desktop/projects/Github_Repositories/IBM9_SQL'

In [10]:
df = pd.read_csv("/Users/macbook/Desktop/projects/Github_Repositories/IBM9_SQL/ChicagoCensusData.csv")
df.to_sql("CENSUS", con, if_exists='replace', index=False,method="multi")

df = pd.read_csv("/Users/macbook/Desktop/projects/Github_Repositories/IBM9_SQL/ChicagoCrimeData.csv")
df.to_sql("CRIME", con, if_exists='replace', index=False, method="multi")

df = pd.read_csv("/Users/macbook/Desktop/projects/Github_Repositories/IBM9_SQL/ChicagoPublicSchools.csv")
df.to_sql("SCHOOLS", con, if_exists='replace', index=False, method="multi")

566

In [11]:
%%sql
SELECT * FROM CENSUS LIMIT 1

 * sqlite:///FINALDB.db
Done.

[(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0)]

In [12]:
%sql SELECT * FROM CRIME LIMIT 1

 * sqlite:///FINALDB.db
Done.

[(3512276, 'HK587712', '2004-08-28', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 0, 0, 911, 9, 14.0, 58.0, '6', 1155838.0, 1873050.0, 2004, 41.8074405, -87.70395585, '(41.8074405, -87.703955849)')]

In [13]:
%sql SELECT * FROM SCHOOLS LIMIT 1

 * sqlite:///FINALDB.db
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99.0, 'Very Strong', '99', 'Strong', 74.0, 'Strong', 66.0, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', 69.7, 64.4, 0.2, 0.9, 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.458, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)')]

# Problem 1: Find the total number of crimes recorded in the CRIME table

In [14]:
%sql SELECT COUNT(*) FROM CRIME

 * sqlite:///FINALDB.db
Done.

[(533,)]

# Problem 2: List community areas with per capita income less than 11000.

In [15]:
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS WHERE PER_CAPITA_INCOME < 11000

 * sqlite:///FINALDB.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

# Problem 3: List all case numbers for crimes involving minors?

In [20]:
%sql SELECT * FROM CRIME WHERE DESCRIPTION LIKE '%MINOR%';

 * sqlite:///FINALDB.db
Done.

[(3987219, 'HL266884', '2005-03-31', '024XX N CLARK ST', '2210', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR', 'CONVENIENCE STORE', 1, 0, 2333, 19, 43.0, 7.0, '22', 1172680.0, 1916483.0, 2005, 41.92626872, -87.64089934, '(41.926268719, -87.640899336)'),
 (3266814, 'HK238408', '2004-03-13', '093XX S STONY ISLAND AVE', '2230', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR', 'ALLEY', 1, 0, 413, 4, 8.0, 48.0, '22', 1188539.0, 1843379.0, 2004, 41.72530099, -87.58496589, '(41.72530099, -87.584965887)')]

# Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [21]:
%sql SELECT * FROM CRIME WHERE PRIMARY_TYPE LIKE '%KIDNAPPING%';

 * sqlite:///FINALDB.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

# Problem 5: What kind of crimes were recorded at schools?

In [23]:
%sql SELECT DISTINCT(LOCATION_DESCRIPTION) FROM CRIME

 * sqlite:///FINALDB.db
Done.

[('SMALL RETAIL STORE',),
 ('OTHER',),
 ('NURSING HOME/RETIREMENT HOME',),
 ('RESIDENCE',),
 ('ALLEY',),
 ('PARKING LOT/GARAGE(NON.RESID.)',),
 ('STREET',),
 ('GROCERY FOOD STORE',),
 ('DEPARTMENT STORE',),
 ('BAR OR TAVERN',),
 ('RESIDENTIAL YARD (FRONT/BACK)',),
 ('RESIDENCE PORCH/HALLWAY',),
 ('CTA PLATFORM',),
 ('VACANT LOT/LAND',),
 ('SIDEWALK',),
 ('ATHLETIC CLUB',),
 ('AIRPORT/AIRCRAFT',),
 ('APARTMENT',),
 ('MOVIE HOUSE/THEATER',),
 ('VEHICLE NON-COMMERCIAL',),
 ('RESTAURANT',),
 ('RESIDENCE-GARAGE',),
 ('COMMERCIAL / BUSINESS OFFICE',),
 ('TAVERN/LIQUOR STORE',),
 ('CONSTRUCTION SITE',),
 ('GAS STATION',),
 ('DRUG STORE',),
 ('CTA BUS',),
 ('SCHOOL, PUBLIC, GROUNDS',),
 ('SCHOOL, PUBLIC, BUILDING',),
 ('CHURCH/SYNAGOGUE/PLACE OF WORSHIP',),
 ('OTHER COMMERCIAL TRANSPORTATION',),
 ('CHA APARTMENT',),
 ('WAREHOUSE',),
 ('POLICE FACILITY/VEH PARKING LOT',),
 ('HOSPITAL BUILDING/GROUNDS',),
 ('FACTORY/MANUFACTURING BUILDING',),
 ('CLEANING STORE',),
 ('CTA TRAIN',),
 ('BANK',),
 ('CHA PARKING LOT/GROUNDS',),
 ('LIBRARY',),
 ('CHA HALLWAY/STAIRWELL/ELEVATOR',),
 ('COLLEGE/UNIVERSITY GROUNDS',),
 ('SCHOOL, PRIVATE, BUILDING',),
 ('CONVENIENCE STORE',),
 ('HOUSE',),
 ('GOVERNMENT BUILDING/PROPERTY',)]

In [24]:
%sql SELECT DISTINCT(PRIMARY_TYPE) FROM CRIME WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * sqlite:///FINALDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

# Problem 6: List the average safety score for all types of schools.

In [41]:
%sql SELECT  "Elementary, Middle, or High School", ROUND(AVG(SAFETY_SCORE), 2)  FROM CHICAGO_PUBLIC_SCHOOLS_DATA GROUP BY "Elementary, Middle, or High School"

 * sqlite:///database01.db
Done.

[('ES', 49.52), ('HS', 49.62), ('MS', 48.0)]

# Problem 7: List 5 community areas with highest % of households below poverty line

In [42]:
%sql SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5

 * sqlite:///database01.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

# Problem 8: Which community area(number) is most crime prone?

In [43]:
%sql SELECT COMMUNITY_AREA_NUMBER,COUNT(COMMUNITY_AREA_NUMBER) FROM CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC LIMIT 3

 * sqlite:///database01.db
Done.

[(25.0, 43), (23.0, 22), (68.0, 21)]

In [44]:
%%sql
SELECT DISTINCT(COMMUNITY_AREA_NAME),CS.COMMUNITY_AREA_NUMBER,CR.COMMUNITY_AREA_NUMBER FROM CENSUS_DATA CS, CHICAGO_CRIME_DATA CR 
WHERE CS.COMMUNITY_AREA_NUMBER = CR.COMMUNITY_AREA_NUMBER 
AND CR.COMMUNITY_AREA_NUMBER = 25.0

 * sqlite:///database01.db
Done.

[('Austin', 25.0, 25.0)]

# Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [45]:
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA)

 * sqlite:///database01.db
Done.

[('Riverdale',)]

# Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [ ]:
SDFASADF