In [1]:
import pandas as pd 
import sqlite3

In [2]:
con = sqlite3.connect("database01")
cur = con.cursor()

In [3]:
%load_ext sql

In [4]:
%sql sqlite:///database01.db

In [ ]:
df = pd.read_csv("/Users/macbook/Desktop/projects/Github_Repositories/IBM9_SQL/XXXXXXXX.csv")
df.to_sql("Table_name", con, if_exists='replace', index=False,method="multi")

In [ ]:
df = pd.read_csv("/Users/macbook/Desktop/projects/Github_Repositories/IBM9_SQL/XXXXXXXX.csv")
df.to_sql("Table_name", con, if_exists='replace', index=False,method="multi")

In [ ]:
%%sql
select * #outer query / main query 
from employee
where salary salary> (select avg(salary) from employee) # subquery / inner query

SCALAR SUBQUERY
MULTIPLE ROW SBBQUERY
CORRELATED SUBQUERY

In [ ]:
# Scalary Subquery
# it always return 1 row and 1 query
select *
from employee
where salary > (select avg(salary) from employee